## Deliverable 3. Create a Travel Itinerary Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Seoul,KR,67.44,mist,37.5683,126.9778,Lotte Hotel Seoul
1,4,Linqiong,CN,74.57,overcast clouds,30.4159,103.4609,Tianlun Tanxianglou Hotel
2,5,Yatou,CN,70.16,few clouds,37.1500,122.3833,GreenTree Hotel Rongcheng Bus Station
3,6,Pachino,IT,73.44,clear sky,36.7186,15.0907,Pietra Bianca B&B
4,7,Hermanus,ZA,60.91,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Northam"]
vacation_end = vacation_df.loc[vacation_df['City']=="Northam"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="High Wycombe"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Margate"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Great Yarmouth"] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
278,517,Northam,GB,61.39,overcast clouds,51.0333,-4.2167,Durrant House Hotel

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
Northam = start
High_Wycombe = stop1
Margate = stop2
Great_Yarmouth = stop3
Northam = end

fig = gmaps.figure(center=(52, 1), zoom_level = 6)
itinerary = gmaps.directions_layer(Northam, Northam,
                                   waypoints = [High_Wycombe, Margate, Great_Yarmouth],
                                   travel_mode= "DRIVING")
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,517,Northam,GB,61.39,overcast clouds,51.0333,-4.2167,Durrant House Hotel
1,574,High Wycombe,GB,60.30,overcast clouds,51.6291,-0.7493,"Holiday Inn High Wycombe M40, Jct. 4"
2,554,Margate,GB,62.31,overcast clouds,51.3813,1.3862,Premier Inn Margate hotel
3,472,Great Yarmouth,GB,61.05,overcast clouds,52.6083,1.7305,Comfort Hotel Great Yarmouth

In [47]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(52, 1), zoom_level = 6.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))